@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mochiy Pop P One', sans-serif;
}
#appMain{
  width: 100vw;
  height: 100vh;
  position: relative;
  /* overflow-x:hidden; */
}

#navbar{
  position: fixed;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  width: 100%;
  height: 8vh;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  z-index: 50;
}
#navbar #navItem1{
  position:relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height:60%;
  /* background:white; */
  width:11%;
}
#navbar #navItem1 #logoVideo{
  position:relative;
  height:4vh;
  width:4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  border-radius:50%;
}
#navbar #navItem1 #logoVideo video{
  width:215%;
  height:215%;
  object-fit:cover;
  object-position:center;
}
#navbar #navItem1 h2{
  font-size: 2vh;
}
#navbar #navItem2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40vw;
  height: 100%;
}
#navbar #navItem2 span{
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:18%;
  /* border:1px solid red; */
}
#navbar #navItem2 span>a{
  /* border:1px solid red; */
  font-size: 1.3vh;
  color: rgb(255, 255, 255, 0.9);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100%;
  transition: 1s linear;
}
#navbar #navItem2 a i{
  font-size:2vh;
  transition:0.1s linear;
}
#navbar #navItem2 a:hover i{
  display: none;
}
#navlink-tab{
  position:absolute;
  transform:translateY(74%);
  display:grid;
  width:110%;
  height: 200%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border-radius: 0 0 5px 5px;
  padding: 0.5vh 0;
  transition:0.1s linear;
  z-index: 1;
  visibility:hidden;
}
#navbar #navItem2 span:hover>#navlink-tab{
  visibility:visible;
}
#navlink-tab>a{
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition:0.01s linear; */
  /* font-size:200%; */
  font-size: 1.4vh;
  color: rgb(255, 255, 255, 0.9);
  text-decoration: none;
}
#navlink-tab>a:hover{
  background: rgba(185, 180, 180, 0.4);
  text-shadow: 0 0 5px rgba(0, 0, 0);
}

.catalog{
  position: relative;
  /* top:0; */
  width: 100%;
  height:100%;
  overflow:hidden;
}
.catalog video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -20;
}
.catalog .leftSide{
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  /* background: green; */
  display: block;
  padding-top: 20vh;
  z-index: 1;
  /* border:1px solid green; */
}
.catalog .leftSide .text1{
  position: relative;
  /* border: 1px solid gold; */
  width:100%;
  height: 50vh;
  padding:0 80% 0 10%;
  color:rgb(255, 255, 255, 0.8);
  overflow: hidden;
}
.catalog .leftSide .text1 h1{
  font-size: 11vh;
  /* transform: translateY(50%); */
  animation: showUP 1.5s ease, glow 3s ease-in-out infinite;
  /* animation: showUP 1.5s ease; */
}
@keyframes glow {
  0%, 100%{
    color:rgb(255, 255, 255, 0.8);
  }
  50%{
    color:rgb(255, 255, 255, 0.9);
  }
}
@keyframes showUP {
  0%{
    transform:rotateY(-90deg);
    opacity:0;
  }
  50%{
    transform:rotateY(-45deg);
    opacity:0;
  }
  100%{
    transform:rotateY(0deg);
    opacity:1;
  }
}
.catalog .leftSide .text2{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  color: rgb(255, 255, 255, 0.8);
  /* border: 1px solid white; */
  width: 100%;
  height: 10vh;
  padding-left: 5vw;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
.catalog .leftSide .text2 p{
  font-size: 2vh;
  /* transform: translateY(5vh); */
  animation: showOP 2s ease;
  
}
@keyframes showOP {
  from{
    transform:translateY(100%);
    opacity:0;
  }
  to{
    transform:translateY(0%);
    opacity:1;
  }
}

.catalog .rightSide{
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  /* background: green; */
  display: flex;
  align-items:center;
  justify-content:center;
  z-index: 1;
  /* border:1px solid green; */
}
.catalog .rightSide .translucent{
  position:absolute;
  width:90%;
  height:70%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition:0.1s ease-in;
  cursor:pointer;
}
.catalog .rightSide .card1{
  transform:rotate(15deg) translate(70%, -15%);
}
.catalog .rightSide .cardTemp{
  transform:rotate(15deg) translate(200%, -15%);
}
.catalog .rightSide .card2{
  transform:rotate(18deg) translate(80%, -15%);

}
.catalog .rightSide .card3{
  transform:rotate(21deg) translate(90%, -15%);

}
.catalog .rightSide :is(.card1, .card2, .card3):hover{
  transform:rotate(0deg) translate(0%, 0%);
}

.catalogy{
  position: relative;
  width: 100%;
  height:100%;
  overflow:hidden;
}
.catalogy #shops{
  position:relative;
  width:100%;
  height:100%;
}
.catalogy #shops .shopTitle{
  /* border:1px solid white; */
  height:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:rgb(255, 255, 255, 0.9);
  /* box-shadow: inset 0px 2px 15px 20px #333; */

}
.catalogy #shops .shopTitle .text{
  /* border:1px solid white; */
}
.catalogy #shops .shopTitle .text h1{
  font-size:9vh;
  margin-bottom: 2%;
  text-align:center;
}
.catalogy #shops .shopTitle .text p{
  text-align:center;
  font-size: 2vh;
  font-family:'Poppins', sans-serif;
}
.catalogy #shops .shopShops{
  position:relative;
  /* border:1px solid gold; */
  height:50%;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  padding:0 5%;
}
.catalogy #shops .shopShops .shopCard{
  position: relative;
  width:25%;
  height: 50%;
  background:linear-gradient(to bottom, #333, #333, #333, transparent, transparent);
  -webkit-box-reflect: below 2.5px linear-gradient(to bottom, transparent, transparent,transparent, rgba(0,0,0,0.2));
  transition: 0.5s ease;
  border-radius: 20px;
}
.catalogy #shops .shopShops .shopCard:hover{
  -webkit-box-reflect: below 2.5px linear-gradient(to bottom,transparent, transparent);
}
.catalogy #shops .shopShops .shopCard:hover img{
  transform: translateY(-50%);
}
.catalogy #shops .shopShops .shopCard:hover .description{
  transform: translateY(50%);
}

.catalogy #shops .shopShops .shopCard img{
  /* border: 1px solid teal; */
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  z-index: 5;
  border-radius: 20px;
}
.catalogy #shops .shopShops .shopCard .description{
  /* border: 4px solid gold; */
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  z-index: 4;
  color: rgb(255, 255, 255, 0.9);
}
.catalogy #shops .shopShops .shopCard .description h1{
  height: 30%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  font-size: 2.5vh;
  text-shadow: 0 0 5px black;
}
.catalogy #shops .shopShops .shopCard .description p{
  height: 20%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  /* border: 1px solid teal; */
  font-size: 1.5vh;
  padding: 2% 5%;
  font-weight: 100;
  font-family:'Poppins', sans-serif;
}
.catalogy #shops .shopShops .shopCard .description .button{
  height:30%;
  width:100%;
  /* border:1px solid red; */
  display:flex;
  align-items: center;
  justify-content: center;
}
.catalogy #shops .shopShops .shopCard .description .button button{
  display:flex;
  align-items:center;
  justify-content:center;
  background: transparent;
  padding:1vh 3vh;
  color:rgb(255, 255, 255, 0.5);
  border: none;
  box-shadow:0 0 5px 1px #333333;
  border-radius:2vh;
  transition:0.1s ease-in;
  cursor:pointer;
  font-size: 1.2vh;
}
.catalogy #shops .shopShops .shopCard .description .button button:hover{
  box-shadow:0 0 5px 1px #aaa, 0 -1px 8px 13px rgb(255, 255, 255, 0.1);
  color:rgb(255, 255, 255, 0.9);
}

/* for events */
.cataloga{
  position: relative;
  width: 100%;
  height:200%;
  /* background-color: red; */
  overflow: hidden;
}
.cataloga #events{
  position:relative;
  width:100%;
  height:100%;
}
.cataloga #events .eventsTitle{
  /* border:1px solid white; */
  height:30%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:rgb(255, 255, 255, 0.9);
  /* box-shadow: inset 0px 2px 15px 20px #333; */

}
.cataloga #events .eventsTitle .text{
  /* border:1px solid white; */
}
.cataloga #events .eventsTitle .text h1{
  font-size:9vh;
  margin-bottom: 2%;
  text-align:center;
  padding: 0 20%;
}
.cataloga #events .eventsTitle .text p{
  text-align:center;
  font-size: 1.7vh;
  font-family:'Poppins', sans-serif;

}

/* for event gallery */
#eventGallery{
  width: 100%;
  height:70%;
  /* background:gold; */
  position:relative;
  display: flex;
}
#eventGallery :is(#eventLeft, #eventRight){
  width: 50%;
  height: 100%;
  position: relative;
  /* background:pink; */
  
}
#eventGallery #eventRight{
  right:0;
}
#eventGallery #eventLeft{
  left:0;
  display:flex;
  align-items:center;
  justify-content:center;
}
#eventGallery #eventRight :is(#eventRightTop, #eventRightCenter, #eventRightBottom){
  width: 100%;
  height: 50%;
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
}
#eventGallery #eventRight #eventRightTop{
  /* background:#333; */
  top:0;
}
#eventGallery #eventRight #eventRightCenter{
  bottom: 0;
  display:none;
}
#eventGallery #eventRight #eventRightBottom{
  bottom: 0;
  /* background:#aaa; */
}

#eventGalleryVideo{
  position:absolute;
  /* border:5px solid white; */
  width:95%;
  height:95%;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  overflow:hidden;
  background-color: rgb(0, 128, 128, 0.2)
}
#eventGalleryVideo video{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}


/* for carz */
.cataloger{
  margin:10vh 0;
  width: 100%;
  height:105vh;
  position: relative;
  overflow:hidden;
}
#carz{
  position:relative;
  width:100%;
  height: 100%;
  /* background:rgb(0, 128, 128, 0.2); */
}
#carz .carzSide{
  /* border:1px solid red; */
  width: 100%;
  height: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
}
#carz .carzSide .carzLeft{
  /* border:1px solid red; */
  height:100%;
  width:60%;
}
#carz .carzSide .carzRight{
  /* border:1px solid gold; */
  height:100%;
  width:40%;
}
.carzIMG{
  width:100%;
  height:100%;
  display: flex;
  align-items:center;
  justify-content:center;
}
.carzIMG img{
  object-fit: center;
  object-position: center;
  width:110%;
  height:110%;
}
.carzInfo{
  position: relative;
  width:100%;
  height:100%;
  display: flex;
  align-items:center;
  justify-content:center;
  padding: 0 20%;
  color: rgb(255, 255, 255, 0.9);
  /* border: 1px solid red; */
}
.carzInfo p{
  font-size:1.5vh;
  text-align: justify;
}
.carzInfo #info-bridge{
  width:15%;
  height:50%;
  background:#333;
  transform:translateX(-38.5vh);
}
.carzInfo #info-title{
  position: absolute;
  width:100%;
  height:100%;
  color:rgb(255, 255, 255, 0.9);
  /* background-color: rgb(255, 0, 0, 0.3); */
  display: flex;
  align-items:center;
  /* justify-content:center; */
}
.carzInfo #info-title h3{
  /* border:1px solid white; */
  font-size: 3vh;
  line-height: 5vh;
  transform: translateY(-2vh);
}
.carzInfo #info-title span{
  position: absolute;
  /* border:1px solid white; */
  width:100%;
  height:10%;
  display: flex;
  align-items:center;
  bottom:35%;
  padding: 0 15%;
  transition: 0.1s linear;
  /* justify-content:space-between; */
  z-index: 10;
}

.carzInfo #info-title span p{
  color:white;
  width: 20%;
  font-size:1.2vh;
}
.carzInfo #info-title span hr{
  /* height: 5vh; */
  /* position:absolute;
  right:0; */
  width: 11%;
  border-bottom:3px solid white;
  /* justify-self: center; */
  /* margin: 0 0 0 1vh; */
  animation:length 3s linear infinite;

}
.carzInfo #info-title span:hover hr{animation:none;}
.carzInfo #info-title span:hover .circleIcon :is(:nth-child(odd), :nth-child(even)){animation:none;}
.circleIcon{
  position: absolute;
  width:40%;
  /* background-color: rgb(255, 0, 0, 0.3); */
  height:100%;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  left:50%;
  transform: translateX(-30%);
}
.circleIcon .circle{
  width:4vh;
  height: 4vh;
  background-color: transparent;
  border-radius:50%;
  display: flex;
  align-items:center;
  justify-content: center;
  overflow: hidden;
  cursor:pointer;
}
.circleIcon :nth-child(odd){
  animation:toggleEven 3s linear infinite;

}
.circleIcon :nth-child(even){
  animation:toggleOdd 3s linear infinite;

}
.circleIcon .circle i{
  font-size: 3vh;
}
@keyframes showCar {
  from{
    opacity: 0 ;
  }
  to{
    opacity: 1 ;
  }
}
@keyframes length {
  0%, 100%{
    width: 0 ;
    opacity: 0;
  }
  50%{
    width: 11% ;
    opacity: 1;
  }
}
@keyframes toggleEven {
  0%, 100%{
    transform: translateY(-30%) ;
    opacity: 0;
  }
  25%{
    transform: translateY(0%) ;
    opacity: 1;
  }
  50%{
    transform: translateY(30%) ;
    opacity: 1;
  }
  75%{
    transform: translateY(0%) ;
    opacity: 1;
  }
}
@keyframes toggleOdd {
  0%, 100%{
    transform: translateY(50%) ;
    opacity: 0;
  }
  25%{
    transform: translateY(0%) ;
    opacity: 1;
  }
  50%{
    transform: translateY(-50%) ;
    opacity: 1;
  }
  75%{
    transform: translateY(0%) ;
    opacity: 1;
  }
}
